<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="Rain Wu" name="author" />
    <title>ONLY2ONLY</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/detail.min.css">
</head>

<body>
    <header class="navbar navbar-static-top" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse" aaria-expanded="false">
                    <div class="icon">
                        <div class="line top left"></div>
                        <div class="line top right"></div>
                        <div class="line mid"></div>
                        <div class="line bottom left"></div>
                        <div class="line bottom right"></div>
                    </div>
                </button>
                <button class="fa fa-cart-plus" href="mob-search.html"></button>
                <a href="" class="navbar-brand"></a>
            </div>
            <nav class="navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav navbar-right">
                    <li class="fa fa-user"><a href="">账户登陆</a></li>
                    <li class="fa fa-institution"><a href="" target="_blank">企业定制</a></li>
                    <li class="fa fa-newspaper-o">
                        <a role="button" data-toggle="collapse" href="#nav_category" aria-expanded="false" aria-controls="nav_category">产品目录</a>
                    </li>
                    <div class="collapse" id="nav_category">
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa fa-hand-o-right"></i><a href="" title="">正装两件套</a></li>
                            <li class="list-group-item"><i class="fa fa-hand-o-right"></i><a href="" title="">正装三件套</a></li>
                            <li class="list-group-item"><i class="fa fa-hand-o-right"></i><a href="" title="">西装</a></li>
                            <li class="list-group-item"><i class="fa fa-hand-o-right"></i><a href="" title="">衬衫</a></li>
                            <li class="list-group-item"><i class="fa fa-hand-o-right"></i><a href="" title="">裤子</a></li>
                        </ul>
                    </div>
                    <li class="fa fa-question-circle">
                        <a href="#nav_help" data-toggle="collapse" role="button" aria-expaned="false" aria-controls="nav_help">帮助中心</a>
                    </li>
                    <div class="collapse" id="nav_help">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="" title="">如何正确量身<i class="fa fa-magic pull-right"></i></a></li>
                            <li class="list-group-item"><a href="" title="">如何选择面料<i class="fa fa-tags pull-right"></i></a></li>
                            <li class="list-group-item"><a href="" title="">服务介绍<i class="fa fa-info-circle pull-right"></i></a></li>
                        </ul>
                    </div>
                    <li class="fa fa-info-circle">
                        <a href="#nav_about" data-toggle="collapse" role="button" aria-expaned="false" aria-controls="nav_about">关于我们</a>
                    </li>
                    <div class="collapse" id="nav_about">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="" title="">公司简介<i class="fa fa-newspaper-o pull-right"></i></a></li>
                            <li class="list-group-item"><a href="" title="">联系方式<i class="fa fa-phone-square pull-right"></i></a></li>
                        </ul>
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    <section class="container">
        <div class="item-name-row">
            <span class="item-name">西装上衣</span>
            <span class="item-price">￥7777.00</span>
        </div>
    </section>
    <div id="item-images" class="carousel slide " data-ride="carousel">
        
            <ol class="carousel-indicators">
                <li data-target="#item-images" data-slide-to="0" class="active"></li>
                <li data-target="#item-images" data-slide-to="1"></li>
                <li data-target="#item-images" data-slide-to="2"></li>
            </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../resources/images/shoulder.png" alt="banner">
            </div>
            <div class="item">
                <img src="../resources/images/shoulder.png" alt="banner">
            </div>
            <div class="item">
                <img src="../resources/images/shoulder.png" alt="banner">
            </div>
        </div>
    </div>
    <section class="container action-box">
        <div>
            <h4 class="item-name">深灰色商务三件套</h4>
            <h4 class="item-price">¥ 2,790.00元</h4>
        </div>
        <a href="" class="btn btn-primary">我要定制</a>
    </section>
    <section class="container description-box">
        <h4><i class="fa fa-bookmark"></i>定制流程说明</h4>
        <p class="step">选择款式 <i class="fa fa-arrow-right"></i> 前往付款 <i class="fa fa-arrow-right"></i>  定制信息 <i class="fa fa-arrow-right"></i>  设计加工 </p>
        <label>描述:</label>
        <p>西服作为男性时尚帝国的帝王，“西装革履”常用来形容文质彬彬的绅士优质男士。意大利资深版师打造的西装，外观挺括、线条线条流畅，优质全羊毛面料，穿着舒适。在舒适的面料质感中融入典雅的创作情怀，细腻的设计表现，展现一直充满张力和内省的男士情怀，内敛的灰色调，时尚中带点内敛，展现优雅的都市韵味。</p>
        </div>
        <label>配送:</label>
        <p>免费配送该商品到家</p>
        <label>退换货:</label>
        <p>30天免费上门退货</p>
    </section>
    <section class="container description-box">
        <h4><i class="fa fa-diamond"></i>关于该款型讲解</h4>
        <p>西服作为男性时尚帝国的帝王，“西装革履”常用来形容文质彬彬的绅士优质男士。意大利资深版师打造的西装，外观挺括、线条线条流畅，优质全羊毛面料，穿着舒适。在舒适的面料质感中融入典雅的创作情怀，细腻的设计表现，展现一直充满张力和内省的男士情怀，内敛的灰色调，时尚中带点内敛，展现优雅的都市韵味。</p>
    </section>
    <footer>版权所有 2015 Only2only china . 保留所有权利
        <br> Copyright © 北京艾迪信科科技有限公司 京ICP备15030588号-1
    </footer>
    <script src="../resources/js/jquery.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
</body>

</html>
