@import "variables.less";
@import "global.less";

.cart-box{
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 250px;
	color: #999;
	h4{
		width: 100%;
		color: @brand-primary;
		i{margin-right: 10px;}
	}
}
.icon-empty{
	color: #999;
	margin: auto;
	border: 2px dashed #999;
	border-radius: 5px;
	padding: 20px;
}